{
    "header": {
        "background-color": "orange",
        "border": "solid 1px red",
        ".title": {
            "color": "red",
            "text-align": "center",
            "font-size": "2em"
        }
    },
    ".image": {
        "background-image":"url('http://upload.wikimedia.org/wikipedia/commons/3/3b/Novi_Beograd_-_West_view_at_sunset.jpg')",
        "width": "100%",
        "height": "600px"
    },
    "@include": [
        "/app.pcss",
        "/app.css"
    ]
}
