{
    "header": {
        "background-color": "orange",
        "border": "solid 1px red",
        ".title": {
            "color": "red",
            "text-align": "center",
            "font-size": "2em"
        }
    },
    "@include": [
        "/app.pcss",
        "/app.css"
    ]
}
